* {font-family: "Helvetica Neue";}

.clear {clear: both;}

/*Fix the misaligned toggle switch in jqm 1.1.1*/
div.ui-slider-switch .ui-slider-handle { margin: 1px 0 0 -15px; }

/*General text styles*/
.red { color: #FF3333; font-weight: bold; }
h2 {margin: 1em 0 .2em 0;}
/*h3 {margin: .5em 0 .5em 0;}*/
h5 {margin: 0; color: #888;}
h6 {margin: 0; color: #888;}

/*General layout styles*/
.containing-element {margin: 1em 0;}

.ui-grid-main > div {
	min-width: 340px;
}

.ui-content > div > div {
	/*min-width: 400px;*/
	margin-right: -3em;
	padding-right: 3em;
}

.ui-grid-a > div:last-child {
	padding-right: 0;
	margin-right: 0;
	text-align: right;
}

.ui-grid-solo {text-align: left;}

.grid-controls h3 {margin: 1.3em 0;}
.grid-controls h6 {text-align: center; margin-left: 3.6em;}
.grid-controls > div {text-align: right;}
.grid-controls > div:first-child {text-align: left;}
.grid-controls label {color: #888; font-size: .8em; font-weight: bold; text-align: center; margin: 0 0 0 4em;}

/*Garage*/
.garage-controls div.ui-slider-switch { width: 7em; }
.garage-controls label {margin-left: 3em;}

/*Weather*/
.weather .showdate {text-transform: uppercase; color: #888;}
.weather h1.current_temp {float: right; font-size: 7.8em; margin: 0; font-weight: lighter; color: #aaa; }
.weather h1.current_temp span {}
.weather h4 {font-size: 1.6em; text-transform: uppercase; margin: 0; text-align: right;}
.weather h4 span {font-weight: normal; color: #888; font-size: .7em}
.weather .highlow {float: right; margin: 2em .8em 0 0;}
.weather .weather-icon {float: left; width: 128px; margin: 1em 0 0 1em;}